$backgroundColor: #f4f4f4;

$blackWith50Opacity: rgba(0, 0, 0, 0.5);
$whiteWith50Opacity: rgba(255, 255, 255, 0.5);
$whiteWith30Opacity: rgba(255, 255, 255, 0.3);

$greyColor: #6C757D;

$primaryColor: #D65900;
$secondaryColor: #FBBA72;

$lightTextColor: #EDFFEC;
$darkTextColor: #8F250C;

$facebookIconColor:#4267B2;
$instagramIconColor:#E1306C;
$linkedinIconColor:#0A66C2;


